<div style="height:70px; width:100%;"></div>
<div class="container-fluid">
    <form class="form-group">
        <div class="form-inline row">
            <div class="form-group col-7">
                <label for="inputName"><font size="5">Create party</font></label>
                <input type="text" id="inputName" name="inputName" [(ngModel)]="party.name" class="form-control ml-1" aria-describedby="nameHelpInline" placeholder="Name" style="width:56.7%;">
                <small id="nameHelpInline" class="text-muted">
                    Must be 2-100 characters long.
                </small>
            </div>
        </div>
        <div class="row mt-2">
            <div class="form-inline col-6">
                <div class="card" style="margin-bottom:-1px;">
                    <div class="card-header">Party slots</div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let slot of party.slots">
                        <label>{{slot.index}}</label>
                        <label class="btn btn-secondary" [class.active]="slot.isPartyLeader" (click)="selectPartyLeader(slot)">
                            Lead
                        </label>
                        <select [(ngModel)]="slot.role" class="form-control ml-1" [name]="'role_selector'+slot.index">
                            <option *ngFor="let role of roles" [ngValue]='role'>{{role}}</option>
                        </select>
                        <select [(ngModel)]="slot.classType" class="form-control ml-1" [name]="'charClass_selector'+slot.index" style="width:25%;">
                            <option *ngFor="let classType of classTypes" [ngValue]='classType'>{{classType}}</option>
                        </select>
                        <div [(ngModel)]="slot.isFree" ngbRadioGroup [name]="'s'+slot.index" class="ml-1">
                            <label class="btn btn-secondary">
                                <input type="radio" [value]="true"> Free
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" [value]="false"> Exist
                            </label>
                        </div>
                        <button type="button" class="btn btn-link" *ngIf="!slot.isFree">Link Character</button>
                    </li>
                </ul>
                <!--COMMENTS-->
                <textarea class="mt-1" name="inputComment" [(ngModel)]="party.comment" style="width:100%;" type="text" placeholder="Comment...."></textarea>
                <label class="custom-file">
                    <input type="file" id="file" class="custom-file-input">
                    <span class="custom-file-control"></span>
                </label>
            </div>
            <div class="form-group col-6">
                <div class="card">
                    <div class="card-header">Setup requirements</div>
                    <div class="card-block">
                        <!--Chat Type-->
                        <div class="form-group row">
                            <label for="example-chatTypeRB-input" class="col-2 col-form-label">Voice</label>
                            <div class="col-10" [(ngModel)]="party.chatType" ngbRadioGroup name="chatTypeRB">
                                <label class="btn btn-secondary">
                                    <input type="radio" value="Skype" id="example-chatTypeRB-input"> Skype
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" value="RaidCall"> RaidCall
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" value="TeamSpeak"> TeamSpeak
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" value="NA"> N\A
                                </label>
                            </div>
                        </div>
                        <!--has Microphone-->
                        <div class="form-group row">
                            <label for="example-mic-input" class="col-2 col-form-label">Microphone</label>
                            <div class="col-10" [(ngModel)]="party.chatSpeaking" ngbRadioGroup name="microphoneRB">
                                <label class="btn btn-secondary">
                                    <input type="radio" [value]="true" id="example-mic-input"> Yes
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" [value]="false"> No
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-censure-input" class="col-2 col-form-label">Strong lang.</label>
                            <div class="col-10" [(ngModel)]="party.strongLanguage" ngbRadioGroup name="strongLanguageRB">
                                <label class="btn btn-secondary">
                                    <input type="radio" [value]="true" id="example-censure-input"> Yes
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" [value]="false"> No
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-age-input" class="col-2 col-form-label">Age</label>
                            <div class="col-10" [(ngModel)]="party.age" ngbRadioGroup name="voiceChatType4">
                                <label class="btn btn-secondary">
                                    <input type="radio" [value]="-1" id="example-age-input"> Any
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" [value]="14"> 14+
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" [value]="18"> 18+
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" [value]="25"> 25+
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-type-input" class="col-2 col-form-label">Type</label>
                            <div class="col-10">
                                <label class="btn btn-secondary" [class.active]="party.pve">
                                    <input style="display:none" type="checkbox" [(ngModel)]="party.pve" name="pveCB" id="example-type-input"> PvE
                                </label>
                                <label class="btn btn-secondary ml-1" [class.active]="party.pvp">
                                    <input style="display:none" type="checkbox" [(ngModel)]="party.pvp" name="pvpCB"> PvP
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-lang-input" class="col-2 col-form-label">Language</label>
                            <div class="col-10" [(ngModel)]="party.language" ngbRadioGroup name="voiceChatType6">
                                <label class="btn btn-secondary">
                                    <input type="radio" value="ru" id="example-lang-input"> RU
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" value="eng"> ENG
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!--PRIME TIME-->
                <div class="card">
                    <div class="card-header" style="margin-bottom:-1px;">
                        <label class="btn btn-secondary detailedPrime" [class.active]="detailedPrimeTimeSelected" (click)="detailedPrimeTimeSelectedChanged()" style="display: inline-block;"></label>
                        Prime Time
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let primeTime of party.primeTimes" style="padding-bottom:0px;padding-top:0px;">
                            <div class="row" style="display:flex;align-items:center">
                                <label class="col-2">{{primeTime.day}}</label>
                                <!--<ngb-timepicker [(ngModel)]="primeTime.start" (ngModelChange)="onPrimeTimeChanged(primeTime)" class="ml-1" name="timeStartPicker" style="display: inline-block; vertical-align:middle"></ngb-timepicker>-->
                                <label style="display: inline-block;"> - </label>
                                <!--<ngb-timepicker [(ngModel)]="primeTime.end" (ngModelChange)="onPrimeTimeChanged(primeTime)" name="timeEndPicker" style="display: inline-block"></ngb-timepicker>-->
                                <div class="tag tag-primary ml-1" style="display: inline-block;font-size:150%;">{{primeTime.totalHours}} h.</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--SUBMIT BUTTON-->
        <div class="form-group col-12 text-xs-right">
            <input class="btn btn-primary" type="submit" value="Submit" (click)="submit()">
        </div>
    </form>
</div>
