<div style="height:70px; width:100%;"></div>
<div class="container-fluid">
  <form class="form-group">
    <div class="form-inline row">
      <div class="form-group col-7">
        <label for="inputName"><font size="5">Create party</font></label>
        <input type="text" id="inputName" name="inputName" [(ngModel)]="party.name" class="form-control ml-1" aria-describedby="nameHelpInline" placeholder="Name" style="width:56.7%;">
        <small id="nameHelpInline" class="text-muted">
          Must be 2-100 characters long.
        </small>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12 col-lg-6">
        <div class="card">
          <div class="card-header">Party slots</div>
          <div class="card-block form-inline">
            <ul class="list-group w-100">
              <li class="list-group-item w-100" *ngFor="let slot of party.slots">
                <label>{{slot.index}}</label>
                <label class="btn btn-secondary mr-2 ml-2" [class.active]="slot.isPartyLeader" (click)="selectPartyLeader(slot)" style="font-size:2rem;" title="Party leader">
                  ♛
                </label>
                <select [(ngModel)]="slot.role" class="form-control ml-1" [name]="'role_selector'+slot.index">
                  <option *ngFor="let role of roles" [ngValue]='role'>{{role}}</option>
                </select>
                <select [(ngModel)]="slot.classType" class="form-control ml-1" [name]="'charClass_selector'+slot.index">
                  <option *ngFor="let classType of classTypes" [ngValue]='classType'>{{classType}}</option>
                </select>
                <md-slide-toggle class="ml-1" [(ngModel)]="slot.isFree" [name]="'isLeadToggle'+slot.index" title="Free slot"></md-slide-toggle>
                <button type="button" class="btn btn-link" *ngIf="!slot.isFree">Link Character</button>
              </li>
            </ul>
          </div>
        </div>


        <!--Logo upload-->
        <my-image-picker name="logo-picker" [(ngModel)]="party.image"></my-image-picker>


        <!--COMMENTS-->
        <textarea class="mt-1" name="inputComment" style="width:100%;" type="text" placeholder="Comment...."></textarea>

      </div>
      <div class="col-12 col-lg-6">
        <div class="card">
          <div class="card-header">Setup requirements</div>
          <div class="card-block">
            <!--Chat Type-->
            <div class="form-group row">
              <label class="col-2 col-form-label">Voice</label>
              <div class="col-10">
                <md-button-toggle-group [(ngModel)]="party.chatType" [ngModelOptions]="{standalone: true}">
                  <md-button-toggle value="Skype">Skype</md-button-toggle>
                  <md-button-toggle value="RaidCall">RaidCall</md-button-toggle>
                  <md-button-toggle value="TeamSpeak">TeamSpeak</md-button-toggle>
                  <md-button-toggle value="Discord">Discord</md-button-toggle>
                  <md-button-toggle value="NA">N\A</md-button-toggle>
                </md-button-toggle-group>
              </div>
            </div>
            <!--has Microphone-->
            <div class="form-group row">
              <label class="col-2 col-form-label">Microphone</label>
              <div class="col-10">
                <md-button-toggle-group [(ngModel)]="party.chatSpeaking" [ngModelOptions]="{standalone: true}">
                  <md-button-toggle [value]="true">Yes</md-button-toggle>
                  <md-button-toggle [value]="false">No</md-button-toggle>
                </md-button-toggle-group>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-2 col-form-label">Strong lang.</label>
              <div class="col-10">
                <md-button-toggle-group [(ngModel)]="party.strongLanguage" [ngModelOptions]="{standalone: true}">
                  <md-button-toggle [value]="true">Yes</md-button-toggle>
                  <md-button-toggle [value]="false">No</md-button-toggle>
                </md-button-toggle-group>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-2 col-form-label">Age</label>
              <div class="col-10">
                <md-button-toggle-group [(ngModel)]="party.age" [ngModelOptions]="{standalone: true}">
                  <md-button-toggle [value]="-1">Any</md-button-toggle>
                  <md-button-toggle [value]="14">14+</md-button-toggle>
                  <md-button-toggle [value]="18">18+</md-button-toggle>
                  <md-button-toggle [value]="25">25+</md-button-toggle>
                </md-button-toggle-group>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-type-input" class="col-2 col-form-label">Type</label>
              <div class="col-10">
                <label class="btn btn-secondary" [class.active]="party.pve">
                  <input style="display:none" type="checkbox" id="example-type-input" [(ngModel)]="party.pve" [ngModelOptions]="{standalone: true}"> PvE
                </label>
                <label class="btn btn-secondary ml-1" [class.active]="party.pvp">
                  <input style="display:none" type="checkbox" [(ngModel)]="party.pvp" [ngModelOptions]="{standalone: true}"> PvP
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-lang-input" class="col-2 col-form-label">Language</label>
              <div class="col-10">
                <md-button-toggle-group [(ngModel)]="party.language" [ngModelOptions]="{standalone: true}">
                  <md-button-toggle value="RU">RU</md-button-toggle>
                  <md-button-toggle value="ENG">ENG</md-button-toggle>
                  <md-button-toggle value="PLN">PLN</md-button-toggle>
                </md-button-toggle-group>
              </div>
            </div>
          </div>
        </div>
        <!--PRIME TIME-->
        <my-prime-time [primeTime]="party.primeTimes"></my-prime-time>
      </div>
    </div>
    <!--SUBMIT BUTTON-->
    <div class="form-group col-12 text-xs-right">
      <input class="btn btn-primary" type="submit" value="Submit" (click)="submit()">
    </div>
  </form>
</div>
