<div class="card mr-2 mt-2" style="cursor:pointer;" (click)="onClick()">
    <img class="card-img-top" src="{{character.image}}" alt="Card image cap">
    <div class="card-block">
        <h4 class="card-title">{{character.name}}</h4>
        <div class="card-text">
            <div class="row">
                <div class="col-6">Lvl: {{character.level}}</div>
                <div class="col-6">Class: {{character.charClass}}</div>
            </div>
        </div>
    </div>
</div>

