<div class="d-flex flex-row">
  <div style="width:160px;">
    <div class="d-flex flex-column justify-content-center">
      <img src="{{party.image}}" alt="Card image cap" style="width:10rem;height:auto;">
      <div class="d-flex flex-md-wrap">
        <span *ngFor="let prop of properties" [ngClass]="'badge badge-'+prop.activeClass">{{prop.label}}</span>
      </div>
    </div>
  </div>
  <div class="w-100">
    <div style="font-size:180%" class="card-title">{{party.name}}</div>
    <div class="d-flex flex-wrap h-100">
      <div *ngFor="let slot of party.slots">
        <my-slot [slot]="slot"></my-slot>
      </div>
    </div>
  </div>
</div>
