<div class="container-fluid">

    <div class="d-flex flex-wrap">
        <img src="{{party.image}}" alt="Card image cap" style="width:10rem;height:auto;">

        <div>
            <div><h4>{{party.name}}</h4></div>
            <div>
                <div class="d-flex align-content-stretch">
                    <my-character style="zoom: 0.5; -moz-transform: scale(0.5);" *ngFor="let slot of party.slots" [character]="slot.character"></my-character>
                </div>
            </div>
            <div class="row"></div>
        </div>
    </div>
</div>
