<div style="height:70px; width:100%;"></div>
<div class="container-fluid">
    <div class="row">

        <div class="col-6">
            <h2>My Characters</h2>
            <div class="d-flex flex-wrap">
                <my-character *ngFor="let character of characterList" [character]="character"></my-character>
            </div>

        </div>
        <div class="col-6">
            <h2>My Parties</h2>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let party of partyList">
                    <my-party [party]="party"></my-party>
                </li>
            </ul>
        </div>
    </div>


</div>