<div style="height:70px; width:100%;"></div>
<div class="container-fluid">
    <div class="d-flex flex-wrap" >
        <div class="card text-center" *ngFor="let character of characterList" style="width: 15rem; cursor:pointer;" (click)="onClick()">
            <img class="card-img-top" src="/img/rei.png" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Ayanami Rei</h4>
                <div class="card-text">
                    <div class="row">
                        <div class="col-xs-6">Lvl: 34</div>
                        <div class="col-xs-6">Class: Priest</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>